
.flex {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(13rem,1fr));
    grid-template-rows: repeat(auto-fit,minmax(6rem,1fr));
    object-fit: cover;
    grid-gap:1rem;
    grid-auto-flow: dense;
    background-color: #a0e7e5;
    padding:4rem 2rem;
    margin-bottom: 0;
    vertical-align: center;
    &-video {
        
        &_ifr {
            border:0;
            border-radius: 15px;
            object-fit:fill;
            width:100%;
            
        }
    }
}