<section id="video-section" class="flex">
    <div title="YouTube" class="flex-video">
        <iframe class="flex-video_ifr" src="https://www.youtube.com/embed/fXtHiMF2KB8?&cc_load_policy=1&cc_lang_pref=en" title="YouTube"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
            <div title="YouTube" class="flex-video">
        <iframe class="flex-video_ifr" src="https://www.youtube.com/embed/J_6fKNdyjr4?&cc_load_policy=1&cc_lang_pref=en" title="YouTube"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div title="YouTube" class="flex-video">
        <iframe class="flex-video_ifr" src="https://www.youtube.com/embed/3MEyFe21fLw?&cc_load_policy=0&cc_lang_pref=en" title="YouTube"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
            allowfullscreen></iframe>
</div>
<div title="YouTube" class="flex-video">
        <iframe class="flex-video_ifr" src="https://www.youtube.com/embed/gv-BK43u-Y4?&cc_load_policy=1&cc_lang_pref=en" title="YouTube"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</section>