*{
    box-sizing: border-box;
}
html,body{

    overflow-x: hidden;
    width:100%;
    margin:0;
}

.nav-container{
background-color: #FB5F5F;
width:100%;

}
.nav-bar{
    text-align: center;
    display: flex;
    width:80%;
    flex-direction: row;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 0;
    
}
.nav-button{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;   
    background-color:#B4F8C8;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    margin:2vw;
    color:black;
    width:25vw;
}
.nav-button:hover{
    opacity: 0.7;
    color: black;
    
}   
.logo{
    max-width: 100px;
    max-height: 50px;
    
}
.grid-container{
        display:grid;
        width:100%;
        grid-template-columns:repeat(3,1fr);
        grid-gap:20px;
        height:40vw;
        padding-left: 10%;
        padding-right:10%;
        background-color: hsla(139, 95%, 64%, 0.534);
        justify-content: space-around;
        padding-top: 4vw;
        padding-bottom: 4vw;
    }
    .grid-cell{
        background-image: url('ico.jpg');
        border-radius: 15px;
        background-size: cover;
        background-position: center;
    }
    .center{
        grid-row: 2 span;
        grid-column:2/3;
        background-image: url('ico.jpg');
        
    }
    a{
        text-decoration: none;
    }
    .flex-container{
        display:flex;
        width:100%;
        justify-content: space-around;
        background-color: #A0E7E5;
        padding-top: 2vw;
        padding-bottom: 2vw;
        
    }
    .flex-content{
        margin-left: 10vw;   
        flex-direction:column;
        width:100%;
        margin-right: 10vw;
}
iframe{
    max-width:35vw ;
    height: 20vw;
    margin-bottom: 10px;
} 
.oculto{
    display:none;
}
.gbutton{
    flex-grow: 1;
    background-color: hsl(340, 83%, 66%);
    width: 18%;
    border:1px solid whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;   
    overflow-wrap: break-word;
    max-height: 60px;
    
}
.gbutton:last-child{border-top-right-radius: 10px;
}
:first-child{
border-top-left-radius: 10px;}
.index-footer{
    background-color: lawngreen;
    margin-bottom: 0px;
    margin-top: 0px;
}
.index-footer>ul{
    margin:0;
    text-decoration:none;
    list-style: none;
}
.preview{
    width:80%;
    background-color: whitesmoke;
    height: 30vw;

    margin-left: 10%;

}
.game-h1{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.games{
    background-image:url(test2.png);
    
    
}





@media screen and (max-width:600px){
    .grid-container{
        height:60vw;
    }    
    .flex-container{
        flex-direction: column;
    }
    .flex-content{
        display:inline-flex;
    }
    iframe{
        max-width:80%;
       height:35vw;
    }
    .flex-content iframe:last-child{
        display:none;
    }
    h2{
        margin:0;
    }
    .preview{
        height: 60vh;
    }
    
}