
<h1>Seccion para Padres</h1>
<ul class="info">
    <li class="info-item">
        <button> <h2>Acerca del siio</h2></button>
    </li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis autem ipsum ab, optio, dolore suscipit reiciendis, facere praesentium nihil dolorem inventore sapiente? Ex adipisci, necessitatibus non sit aspernatur velit itaque!</p>

    <li class="info-item"><button><h2>Tiempo de juego, recomendaciones</h2></button>
    </li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis autem ipsum ab, optio, dolore suscipit reiciendis, facere praesentium nihil dolorem inventore sapiente? Ex adipisci, necessitatibus non sit aspernatur velit itaque!</p>

    <li class="info-item"><button><h2>Supervision medida o paranoia</h2></button>
    </li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis autem ipsum ab, optio, dolore suscipit reiciendis, facere praesentium nihil dolorem inventore sapiente? Ex adipisci, necessitatibus non sit aspernatur velit itaque!</p>

    <li class="info-item"><button><h2>Desarrollo y diversion!</h2></button>
    </li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis autem ipsum ab, optio, dolore suscipit reiciendis, facere praesentium nihil dolorem inventore sapiente? Ex adipisci, necessitatibus non sit aspernatur velit itaque!</p>

    <li class="info-item"><button><h2>Sugerencias</h2></button>
    </li><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis autem ipsum ab, optio, dolore suscipit reiciendis, facere praesentium nihil dolorem inventore sapiente? Ex adipisci, necessitatibus non sit aspernatur velit itaque!</p>
</ul>