.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(8rem, 1fr));
  grid-auto-flow: dense;
  grid-gap: 2rem 1rem;
  padding: 4rem 2rem;
  background-color: hsla(139, 95%, 64%, 0.534);
  min-height: 25rem;
  &-cell {
    background-color: white;
    border-radius: 1rem;
    object-fit: cover;
  
  }
}
