.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    height: 40vw;
    padding-left: 10%;
    padding-right: 10%;
    background-color: hsla(139, 95%, 64%, 0.534);
    justify-content: space-around;
    padding-top: 4vw;
    padding-bottom: 4vw;
    
    &-cell {
       // background-image: url("images/ico.jpg");
       background-color: white;
        border-radius: 15px;
        background-size: cover;
        background-position: center;
        &.center {
            grid-row: 2 span;
            grid-column: 2/3;
            //background-image: url("images/ico.jpg");
            background-color: white;
        }
        }
}