.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(8rem, 1fr));
  grid-auto-flow: dense;
  grid-gap: 2rem 1rem;
  padding: 4rem 2rem;
  background-color: hsla(139, 95%, 64%, 0.534);
  min-height: 25rem;
  &-cell {
    background-color: white;
    border-radius: 1rem;
    object-fit: cover;
    
    &_ifr {
      border: 0;
      width: 100%;
      height: 100%;
      border-radius: inherit;
    }
  }
}
h1 {
  margin: 0;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.787);
  color: black;
  border: 0.2rem dashed black;
  padding: 1rem 2rem;
}
.homeh {
  width: 100%;
  display: flex;
  background-color: hsla(139, 95%, 64%, 0.534);
  justify-content: center;
}
