.nav {
  background-color: #fb5f5f;
  width: 100%;

  &-bar {
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: row;

    &_link {
      text-decoration: none;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      background-color: #b4f8c8;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      margin: min(0.7rem);
      color: black;
      width: 5rem;
      height: minmax(2rem);
      box-shadow: -0.3rem 0.3rem 0.2rem #86c398;

      &:hover {
        opacity: 0.7;
        color: black;
      }
      &:active {
        box-shadow: 0 0;
        transform: translate(-0.3rem, 0.3rem);
      }
    }
  }
}
