.nav {
  background-color: #fb5f5f;
  width: 100%;

  &-bar {
    text-align: center;
    display: flex;
    width: 80%;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;

    &_link {
      text-decoration: none;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      font-weight: bold;
      background-color: #b4f8c8;
      display: flex;
      flex-grow: 1;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      margin: 2vw;
      color: black;
      width: 25vw;
      min-height: 35px;
      
      &:hover {
        opacity: 0.7;
        color: black;
    }
  }
}
}

.logo {
  max-width: 100px;
  max-height: 50px;
}
